.dishes {
	// .dishes__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0 -15px;
	}
	// .dishes__item
	&__item {
		flex: 0 1 33.333%;
		padding: 0 15px;
		
	}
}
.item-dishes {
	display: flex;
	flex-direction: column;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 6px 6px;
	transition: all 0.3s ease-in-out;
			&:hover {
			box-shadow: 2px 2px 20px #34c759;
		}

	// .item-dishes__picture
	// -------------------------------
	// отзывчивая картинка
	// -------------------------------
	// -------------------------------
	&__picture {
		position: relative;
		padding: 0px 0px 74.28% 0px;
		border-radius: 6px 6px 0 0;
	}
	// .item-dishes__image
	&__image {
		border-radius: 6px 6px 0px 0px;
		object-fit: cover;
		object-position: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// -------------------------------
	// отзывчивая картинка
	// -------------------------------
	// -------------------------------


	// .item-dishes__body
	&__body {
		padding: 24px;
	}
	// .item-dishes__title
	&__title {
		font-weight: 400;
		font-size: 32px;
		line-height: 0.94;
		color: #d9d9d9;
	}
	// .item-dishes__subtitle
	&__subtitle {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.15px;
		color: #a4a8b2;
		margin: 0px 0px 20px 0px;
	}
	// .item-dishes__text
	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: #85878c;
		margin: 0px 0px 20px 0px;
	}
	// .item-dishes__footer
	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		
	}
	// .item-dishes__rating
	&__rating {
		margin: 0px 10% 5% 0px;
	}
	// .item-dishes__button
	&__button {
		background: #262626;
		border: 2px solid #303030;
		box-sizing: border-box;
		border-radius: 30px;
		color: rgba(255, 255, 255, 0.5);
		font-weight: 900;
		font-size: 10px;
		line-height: 4;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		border-radius: 30px;
		padding: 0 32px;
		transition: all 0.3s ease;
		&:hover {
			background: #34c759;
			color: #252525;
		}
	}
}
.rating {
	// .rating__image
	&__image {
	}
}
